
@{
    ViewData["Title"] = "DocumentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="addbtns">
    <li>
        <button class="header-add-btn" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i>Add Document</button>
    </li>
</ul>
<div class="warehouse-data table-responsive">

    <table>
        <thead>
            <tr>
                <th>SL No.</th>
                <th>Document Name</th>
                <th>Document Purpose</th>
                <th>Uploded Date & Time</th>
                <th>Assign To</th>
                <th>Uploaded By </th>
                <th></th>
                <th></th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>01</td>
                <td>Project Proposal</td>
                <td>Project Requiment</td>
                <td>12 May, 2023 & 11:34:56 AM</td>
                <td>Rahul Sharma</td>
                <td>Ishant Singh</td>
                <td>
                    <button class="document-download-btn">
                        <img src="~/images/download.svg" />
                    </button>
                </td>
                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>

            <tr>
                <td>01</td>
                <td>Project Proposal</td>
                <td>Project Requiment</td>
                <td>12 May, 2023 & 11:34:56 AM</td>
                <td>Rahul Sharma</td>
                <td>Ishant Singh</td>
                <td>
                    <button class="document-download-btn">
                        <img src="~/images/download.svg" />
                    </button>
                </td>
                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>

            <tr>
                <td>01</td>
                <td>Project Proposal</td>
                <td>Project Requiment</td>
                <td>12 May, 2023 & 11:34:56 AM</td>
                <td>Rahul Sharma</td>
                <td>Ishant Singh</td>
                <td>
                    <button class="document-download-btn">
                        <img src="~/images/download.svg" />
                    </button>
                </td>
                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>


            <tr>
                <td>01</td>
                <td>Project Proposal</td>
                <td>Project Requiment</td>
                <td>12 May, 2023 & 11:34:56 AM</td>
                <td>Rahul Sharma</td>
                <td>Ishant Singh</td>
                <td>
                    <button class="document-download-btn">
                        <img src="~/images/download.svg" />
                    </button>
                </td>
                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>


            <tr>
                <td>01</td>
                <td>Project Proposal</td>
                <td>Project Requiment</td>
                <td>12 May, 2023 & 11:34:56 AM</td>
                <td>Rahul Sharma</td>
                <td>Ishant Singh</td>
                <td>
                    <button class="document-download-btn">
                        <img src="~/images/download.svg" />
                    </button>
                </td>
                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>


            <tr>
                <td>01</td>
                <td>Project Proposal</td>
                <td>Project Requiment</td>
                <td>12 May, 2023 & 11:34:56 AM</td>
                <td>Rahul Sharma</td>
                <td>Ishant Singh</td>
                <td>
                    <button class="document-download-btn">
                        <img src="~/images/download.svg" />
                    </button>
                </td>
                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>


        </tbody>
    </table>

    <!-- addwarehouse -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="side-slide-form">
            <div class="side-slide-header">
                <h2>Add Document</h2>
                <button data-widget="control-sidebar" data-slide="true"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>



            <form>
                <div class="form-inner">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Document Name</label>
                                <input type="text" placeholder="Document Name" />
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Document Purpose</label>
                                <input type="text" placeholder="Document Purpose" />
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Assign To</label>
                                <select name="" id="">
                                    <option value="" disabled selected hidden>Assign To</option>
                                    <option value="a">Project Head</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Uploaded By</label>
                                <select name="" id="">
                                    <option value="" disabled selected hidden>Uploaded By</option>
                                    <option value="a">City</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Upload Document</label>
                                <input type="file" />
                                <button class="file-browse-btn">Browse</button>
                            </div>

                        </div>

                    </div>

                </div>

                <button class="data-save-btn">SAVE</button>
            </form>



        </div>
    </aside>



</div>

