@model SecureGroup.ViewModel.TaskViewModel

@{
    ViewData["Title"] = "NoTaskAllocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="common-title-headeer">
    <h1>No Task Aavailable</h1>   
</div>


<div class="warehouse-data table-responsive">

  @*  <h3>No Task Aavailable</h3>*@

</div>
