
@{
    ViewData["Title"] = "SitesList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="addbtns">
    <li>
        <button class="header-add-btn" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i>ADD SITE</button>
    </li>
</ul>
<div class="warehouse-data table-responsive">

    <table>
        <thead>
            <tr>
                <th>SL No.</th>
                <th>Site Name</th>
                <th>Project Name</th>
                <th>Location</th>

                <th></th>
            </tr>

        </thead>

        <tbody>
            <tr>
                <td>01</td>
                <td>ERC Site</td>
                <td>
                    <div class="table-inner-card">
                        <div class="icon">
                            <img src="~/images/registgericon.svg" class="login-logo" alt="">
                        </div>
                        <div class="content">
                            <h3>Construction Project</h3>
                            <p>Site Work</p>
                        </div>
                    </div>
                </td>
                <td>Hyderabad</td>

                <td>
                    <button class="location-map"><img src="~/images/treasure-map.svg" class="login-logo" alt=""></button>
                </td>

                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>
            <tr>
                <td>01</td>
                <td>ERC Site</td>
                <td>
                    <div class="table-inner-card">
                        <div class="icon">
                            <img src="~/images/registgericon.svg" class="login-logo" alt="">
                        </div>
                        <div class="content">
                            <h3>Construction Project</h3>
                            <p>Site Work</p>
                        </div>
                    </div>
                </td>
                <td>Hyderabad</td>

                <td>
                    <button class="location-map"><img src="~/images/treasure-map.svg" class="login-logo" alt=""></button>
                </td>

                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>

            <tr>
                <td>01</td>
                <td>ERC Site</td>
                <td>
                    <div class="table-inner-card">
                        <div class="icon">
                            <img src="~/images/registgericon.svg" class="login-logo" alt="">
                        </div>
                        <div class="content">
                            <h3>Construction Project</h3>
                            <p>Site Work</p>
                        </div>
                    </div>
                </td>
                <td>Hyderabad</td>

                <td>
                    <button class="location-map"><img src="~/images/treasure-map.svg" class="login-logo" alt=""></button>
                </td>

                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>


            <tr>
                <td>01</td>
                <td>ERC Site</td>
                <td>
                    <div class="table-inner-card">
                        <div class="icon">
                            <img src="~/images/registgericon.svg" class="login-logo" alt="">
                        </div>
                        <div class="content">
                            <h3>Construction Project</h3>
                            <p>Site Work</p>
                        </div>
                    </div>
                </td>
                <td>Hyderabad</td>

                <td>
                    <button class="location-map"><img src="~/images/treasure-map.svg" class="login-logo" alt=""></button>
                </td>

                <td>

                    <div class="dropdown td-action-dot">
                        <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                        </button>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                            <li><a class="dropdown-item" href="#">Edit</a></li>
                            <li><a class="dropdown-item" href="#">Delete</a></li>

                        </ul>
                    </div>
                </td>
            </tr>




        </tbody>
    </table>

    <!-- addwarehouse -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
        <div class="side-slide-form">
            <div class="side-slide-header">
                <h2>ADD NEW PROJECT</h2>
                <button data-widget="control-sidebar" data-slide="true"><i class="fa fa-times" aria-hidden="true"></i></button>
            </div>



            <form>
                <div class="form-inner">
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Project</label>
                                <input type="text" placeholder="Construction Project" />
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Site Name</label>
                                <input type="text" placeholder="Site Name" />
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Postal Address</label>
                                <textarea placeholder="Postal Address">
                                </textarea>
                            </div>
                        </div>

                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Landmark</label>
                                <input type="text" placeholder="Landmark" />
                            </div>
                        </div>


                        <div class="col-md-6 mb-3">
                            <div class="custom-form-control">
                                <label>City</label>
                                <select name="" id="">
                                    <option value="" disabled selected hidden>City</option>
                                    <option value="a">Project Head</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="custom-form-control">
                                <label>Pin Code</label>
                                <select name="" id="">
                                    <option value="" disabled selected hidden>Pin Code</option>
                                    <option value="a">Project Head</option>
                                </select>
                            </div>
                        </div>

                        <div class="col-md-6 mb-3">
                            <div class="custom-form-control">
                                <label>Region</label>
                                <select name="" id="">
                                    <option value="" disabled selected hidden>Region</option>
                                    <option value="a">Project Head</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-6 mb-3">
                            <div class="custom-form-control">
                                <label>State</label>
                                <select name="" id="">
                                    <option value="" disabled selected hidden>State</option>
                                    <option value="a">Project Head</option>
                                </select>
                            </div>
                        </div>


                        <div class="col-md-12 mb-3">
                            <div class="custom-form-control">
                                <label>Site Manager</label>
                                <select name="" id="">
                                    <option value="" disabled selected hidden>Site Manager</option>
                                    <option value="a">Project Head</option>
                                </select>
                            </div>
                        </div>





                    </div>

                </div>

                <button class="data-save-btn">Save</button>
            </form>



        </div>
    </aside>



</div>

