
@{
    ViewData["Title"] = "TaskAllocation";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<ul class="addbtns">
    <li>
        <button class="header-add-btn" data-widget="control-sidebar" data-slide="true" href="#" role="button"><i class="fa fa-plus" aria-hidden="true"></i>assign task</button>
    </li>
</ul>

<div class="row">
    <div class="col-lg-7">
        <div class="task-allocation-tabular-data">

            <div class="warehouse-data table-responsive">

                <table>
                    <thead>
                        <tr>
                            <th>Task Name</th>
                            <th></th>
                            <th>Task Date</th>
                            <th></th>
                            <th></th>

                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>

                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>

                        <tr>
                            <td>

                                <div class="task-name">
                                    <i class="fa fa-check-circle-o" aria-hidden="true"></i>
                                    New Construction Project Work
                                    <img src="~/images/attach-icon.svg" />
                                </div>
                            </td>
                            <td><span class="priority-badge high-badge">High</span></td>
                            <td>12 May, 2023</td>

                            <td><span class="task-badge">ts</span></td>
                            <td>

                                <div class="dropdown td-action-dot">
                                    <button class="btn  dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <i class="fa fa-ellipsis-v" aria-hidden="true"></i>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#">Edit</a></li>
                                        <li><a class="dropdown-item" href="#">Delete</a></li>

                                    </ul>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>


        </div>

    </div>
    <div class="col-lg-5">

        <div class="task-assign-right">
            <h2>New Construction Project Work</h2>


            <table>
                <tr>
                    <td>Assignee</td>
                    <td>

                        <div class="custom-author">
                            <div class="img"><img src="~/images\avatar.png" /></div>
                            <p>Tapas Sahoo</p>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>Date & Time</td>
                    <td>
                        <ul class="date-time-list">
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i> 12 May, 2023</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>11:34:56 AM</li>
                        </ul>
                    </td>
                </tr>

                <tr>
                    <td>Project</td>
                    <td><p>ABC Construction</p></td>
                </tr>

                <tr>
                    <td> Site</td>
                    <td><p>ERC Site</p></td>
                </tr>

                <tr>
                    <td> Priority</td>
                    <td><span class="priority-badge high-badge">High</span></td>
                </tr>

                <tr>
                    <td>Description</td>
                    <td><p>Lorem ipsum dolor sit amet</p></td>
                </tr>
                <tr>
                    <td>Document</td>
                    <td><button class="doc-download"><img src="~/images/carbon_document-pdf.svg" />Document 1</button></td>
                </tr>
            </table>

        </div>
    </div>
</div>



<aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="side-slide-form">
        <div class="side-slide-header">
            <h2>assign task</h2>
            <button data-widget="control-sidebar" data-slide="true"><i class="fa fa-times" aria-hidden="true"></i></button>
        </div>



        <form>
            <div class="form-inner">
                <div class="row">
                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Name</label>
                            <input type="text" placeholder="Task Name" />
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <h5>Task Due Date and Time</h5>
                        <ul class="date-time-list">
                            <li><i class="fa fa-calendar-o" aria-hidden="true"></i> 12 May, 2023</li>
                            <li><i class="fa fa-clock-o" aria-hidden="true"></i>11:34:56 AM</li>
                        </ul>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Project Name</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Project Name</option>
                                <option value="a">Project Head</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Site Name</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Site Name</option>
                                <option value="a">City</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Priority</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Task Priority</option>
                                <option value="a">City</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Description</label>
                            <input type="text" placeholder="Task Description" />
                        </div>
                    </div>




                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Project Head</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Project Head</option>
                                <option value="a">Project Head</option>
                            </select>
                        </div>
                    </div>


                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Block</label>
                            <select name="" id="">
                                <option value="" disabled selected hidden>Block</option>
                                <option value="a">City</option>
                            </select>
                        </div>
                    </div>

                    <div class="col-md-12 mb-3">
                        <div class="custom-form-control">
                            <label>Task Document</label>
                            <input type="file" placeholder="Task Document" />
                            <button class="file-browse-btn">Browse</button>
                        </div>

                    </div>






                </div>

            </div>

            <button class="data-save-btn">ASSIGN</button>
        </form>



    </div>
</aside>


