@model SecureGroup.ViewModel.UserViewModel
@{
    ViewData["Title"] = "AddUser";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="common-title-headeer">
    <h1>Add User</h1>

    <ul class="addbtns">
        <li>
            <button class="header-add-btn"><i class="fa fa-arrow-left" aria-hidden="true"></i><a asp-controller="Settings" asp-action="UsersList"> User List</a></button>
        </li>
    </ul>
</div>

<div class="form-inner">
    <form asp-action="AddUser">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="RoleId" class="control-label">Role<span>*</span></label>
                    <select asp-for="RoleId" id="ddlRoleId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.RoleList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
            </div>          

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="BusinessName" class="control-label">Company Name<span>*</span></label>
                    <input asp-for="BusinessName" class="form-control" value="SIFSL" />
                   
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Name" class="control-label">Full Name<span>*</span></label>
                    <input asp-for="Name" class="form-control" id="txtFullName" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Email" class="control-label">EmailId<span>*</span></label>
                    <input asp-for="Email" class="form-control" type="email" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="Password" class="control-label">Password</label>
                    <input asp-for="Password" class="form-control" type="password" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="ContactNo" class="control-label">Contact Number<span>*</span></label>
                    <input asp-for="ContactNo" class="form-control" type="number" />
                    <span asp-validation-for="ContactNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="MobileNo" class="control-label">Mobile Number</label>
                    <input asp-for="MobileNo" class="form-control" type="number" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="LandlineNo" class="control-label">Landline Number</label>
                    <input asp-for="LandlineNo" class="form-control" type="number" />
                    <span asp-validation-for="LandlineNo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="AlternativeNo" class="control-label">Alternative Number</label>
                    <input asp-for="AlternativeNo" class="form-control" type="number" />
                    <span asp-validation-for="AlternativeNo" class="text-danger"></span>
                </div>
            </div>

            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="JobTitle" class="control-label">Job Title<span>*</span></label>
                    <input asp-for="JobTitle" class="form-control" />
                    <span asp-validation-for="JobTitle" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="UserCode" class="control-label">Emp.Code<span>*</span></label>
                    <input asp-for="UserCode" class="form-control" id="txtUserCode" />
                    <span asp-validation-for="UserCode" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="DepartmentId" class="control-label">Department<span>*</span></label>
                    <select asp-for="DepartmentId" id="ddlDepartmentId"
                            class="form-control"
                            asp-items="@(new SelectList(Model.DepartmentList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="DepartmentId" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="ReportingTo" class="control-label">Reporting To<span>*</span></label>
                    <select asp-for="ReportingTo" id="ddlReportingTo"
                            class="form-control"
                            asp-items="@(new SelectList(Model.UserList,"Value", "Text"))">
                    </select>
                    <span asp-validation-for="ReportingTo" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="custom-form-control">
                    <label asp-for="PresentAddress" class="control-label">Present Address<span>*</span></label>
                    <textarea asp-for="PresentAddress" class="form-control" ></textarea>
                    <span asp-validation-for="PresentAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="custom-form-control">
                    <label asp-for="PermanentAddress" class="control-label">Permanent Address<span>*</span></label>
                    <textarea asp-for="PermanentAddress" class="form-control" ></textarea>
                    <span asp-validation-for="PermanentAddress" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-12 mb-3">
                <div class="custom-form-control">
                    <label asp-for="JoiningDate" class="control-label">Joining Date<span>*</span></label>
                    <input asp-for="JoiningDate" class="form-control" type="date" />
                    <span asp-validation-for="JoiningDate" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="custom-form-control">
                    <label asp-for="LoginTime" class="control-label">Login Time<span>*</span></label>
                    <input asp-for="LoginTime" class="form-control" type="time" value="10:00" />
                    <span asp-validation-for="LoginTime" class="text-danger"></span>
                </div>
            </div>
            <div class="col-md-6 mb-3">
                <div class="custom-form-control">
                    <label asp-for="LogoutTime" class="control-label">Logout Time<span>*</span></label>
                    <input asp-for="LogoutTime" class="form-control" type="time" value="19:00" />
                    <span asp-validation-for="LogoutTime" class="text-danger"></span>
                </div>
            </div>
            <hr />
            <div class="col-md-12 mb-3">
                <div class="pl-3">
                    <div class="form-check form-switch">
                        <input asp-for="IsFlexibleTime" class="form-check-input" type="checkbox" />
                        <label asp-for="IsFlexibleTime" class="form-check-label">Is Flexible Time? <span class="text-danger">(* switch to Flexible Time)</span></label>

                    </div>
                </div>
            </div>


            <input type="submit" value="Create" class="data-save-btn" />

           
       
    </div>
    </form>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


<script type="text/javascript">

    $('#txtFullName').keyup(function () {

        var FullName = $(this).val();

        $.ajax({
            type: "GET",
            url: "/Settings/GenerateEmployeeID?Name=" + FullName,
            success: function (response) {
                debugger;
                $('#txtUserCode').html(response);
                $("#txtUserCode").val(response);
            },
            failure: function (response) {
                alert(response.responseText);
            },
            error: function (response) {
                alert(response.responseText);
            }
        });

       // $("#txtUserCode").val(FullName);        
    });
</script>