<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Welcome Email from TCP</title>
</head>

<body>
    <table width="100%" border="0" cellspacing="0" cellpadding="0">
        <tbody>
            <tr>
                <td align="center" valign="top" bgcolor="#ffe77b" style="background-color:#ffe77b;">
                    <br>
                    <br>
                    <table width="600" border="0" cellspacing="0" cellpadding="0">
                        <tbody>

                            <tr>
                                <td align="left" valign="top" bgcolor="#564319" style="background-color:#564319; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                    <div style="font-size:36px; color:#ffffff;">
                                        <b>{2}</b>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td align="left" valign="top" bgcolor="#ffffff" style="background-color:#ffffff;">
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                            <tr>
                                                <td align="center" valign="middle" style="padding:10px; color:#564319; font-size:28px; font-family:Georgia, 'Times New Roman', Times, serif;">
                                                    {0} <small>you are assigned.</small>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                    </table>
                                    <table width="100%" border="0" align="center" cellpadding="0" cellspacing="0" style="margin-bottom:15px;">
                                        <tbody>
                                            <tr>
                                                <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                                    <div style="font-size:20px; color:#564319;">
                                                        <b>Task details. </b>
                                                    </div>
                                                    <div style="font-size:16px; color:#525252;">
                                                        <b>Task Name    :</b> {1}
                                                        <br>
                                                        <b>Project Name :</b> {2}
                                                        <br>
                                                        <b>Site Name :</b> {3}
                                                        <br>
                                                        <b>Task Priority :</b> {4}
                                                        <br>
                                                        <b>Task Description :</b> {5}
                                                        <br>
                                                        <b>Task Status :</b> {6}
                                                        <br>
                                                        <b>Task Due Date Time :</b> {7}
                                                    </div>
                                                </td>
                                            </tr>                                            
                                            <tr>
                                                <td align="left" valign="middle" style="padding:15px; font-family:Arial, Helvetica, sans-serif;">
                                                    <br />
                                                    <br />
                                                    <div style="font-size:20px; color:#564319;">
                                                        <b>Task Updated details. </b>
                                                    </div>
                                                    <div style="font-size:16px; color:#525252;">
                                                        <b>Spent Time :</b> {8}
                                                        <br>
                                                        <b>Updated Task Status :</b> {9}
                                                        <br>
                                                        <b>Comment :</b> {10}
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>

                                    <table width="95%" border="0" align="center" cellpadding="0" cellspacing="0">
                                        <tbody>
                                            <tr>
                                                <td width="50%" align="left" valign="middle" style="padding:10px;">
                                                    <table width="75%" border="0" cellspacing="0" cellpadding="4">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" valign="top" style="font-family:Verdana, Geneva, sans-serif; font-size:12px; color:#000000;">
                                                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                                                        <tbody>
                                                                        </tbody>
                                                                    </table>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                                <td width="50%" align="left" valign="middle" style="color:#564319; font-size:11px; font-family:Arial, Helvetica, sans-serif; padding:10px;">
                                                    <b>Company Name:</b> <a href="Secure Infratech Finserv And Securities Limited" style="color:#564319; text-decoration:none;">Secure Infratech Finserv And Securities Limited</a><br>
                                                    <br>
                                                    <b>Company Address</b><br>
                                                    68, Jessore Road, Diamond Arcade, Suit No. 511, 5th Floor, Dum Dum, Kolkata, WB – 700055
                                                    <br><b>Email</b><br>
                                                    <a href="Info@sfisltd.in" target="_blank" style="color:#564319; text-decoration:none;">Info@sfisltd.in</a>
                                                    <a href="kolkata@sfisltd.in" target="_blank" style="color:#564319; text-decoration:none;">kolkata@sfisltd.in</a>
                                                    <br><b>Phone</b><br>
                                                    <a>033-35783943</a>
                                                    <a>8420105927</a>
                                                    Company URL: <a href="https://sifsl.com" target="_blank" style="color:#564319; text-decoration:none;">https://sifsl.com/</a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>

                        </tbody>
                    </table>
                    <br>
                    <br>
                </td>
            </tr>
        </tbody>
    </table>

</body>
</html>