@model SecureGroup.ViewModel.ChangePassword
@{
    Layout = null;
}

<!DOCTYPE html>


<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Change Password</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link media="screen" rel="stylesheet" href="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.css" />
    <link media="screen" rel="stylesheet" href='https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.css' />
    <!-- font awesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script type="text/javascript" src="https://cdn.jsdelivr.net/sweetalert2/6.3.8/sweetalert2.min.js"></script>
</head>
<body>   

    <div class="welcome-pages">

        <div class="welcome-wrapper change-password">


            <h2>Change Password</h2>
            <p>
                Lorem Ipsum is simply dummy text of the printing
            </p>

            <form method="post" asp-action="ChangePassword">

                <input type="hidden" asp-for="UserId" />
                <div class="mb-3 custom-form-control" id="show_hide_password">
                    <input type="password" asp-for="NewPassword" class="form-control" placeholder="Create New Password">
                    <span asp-validation-for="NewPassword" class="text-danger"></span>
                    <span class="left-icons-adons"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <a href="javascript:void(0)" class="toggle-pass"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>

                </div>

                <div class="mb-3 custom-form-control" id="show_hide_password2">
                    <input type="password" asp-for="ConfirmPassword" class="form-control" placeholder="Confirm New Password">
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                    <span class="left-icons-adons"><i class="fa fa-lock" aria-hidden="true"></i></span>
                    <a href="javascript:void(0)" class="toggle-pass"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>

                </div>

                <button type="submit" class="login-process-btn">Next</button>
            </form>

            <div class="hav-an-account">
                Already have an account? <a href="">SIGN IN</a>
            </div>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>


    <script>

        $(document).ready(function () {

            $("#show_hide_password a").on('click', function (event) {

                event.preventDefault();

                if ($('#show_hide_password input').attr("type") == "text") {

                    $('#show_hide_password input').attr('type', 'password');

                    $('#show_hide_password a i').addClass("fa-eye-slash");

                    $('#show_hide_password  a i').removeClass("fa-eye");

                } else if ($('#show_hide_password input').attr("type") == "password") {

                    $('#show_hide_password input').attr('type', 'text');

                    $('#show_hide_password a i').removeClass("fa-eye-slash");

                    $('#show_hide_password a i').addClass("fa-eye");

                }

            });

            $("#show_hide_password2 a").on('click', function (event) {

                event.preventDefault();

                if ($('#show_hide_password2 input').attr("type") == "text") {

                    $('#show_hide_password2 input').attr('type', 'password');

                    $('#show_hide_password2 a i').addClass("fa-eye-slash");

                    $('#show_hide_password2  a i').removeClass("fa-eye");

                } else if ($('#show_hide_password2 input').attr("type") == "password") {

                    $('#show_hide_password2 input').attr('type', 'text');

                    $('#show_hide_password2 a i').removeClass("fa-eye-slash");

                    $('#show_hide_password2 a i').addClass("fa-eye");

                }

            });

        });

    </script>
</body>
</html>
