
@{
    ViewData["Title"] = "Dashboard";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="row mb-5">
    <div class="col-md-4">
        <div class="d-card">
            <p>Total Assigned Project</p>
            <h2>1,563</h2>
            <img src="~/images\d-card-frame1.svg" />
            <img src="~/images\d-card-icon1.svg" class="postion-icon" />
        </div>
    </div>

    <div class="col-md-4">
        <div class="d-card">
            <p>Total Assigned Task</p>
            <h2>1,563</h2>
            <span> Active - 189/1925</span>
            <img src="~/images\d-card-frame2.svg" />
            <img src="~/images\d-card-icon2.svg" class="postion-icon" />
        </div>
    </div>


    <div class="col-md-4">
        <div class="d-card">
            <p>Total Expenses</p>
            <h2>1,563</h2>
            <img src="~/images\d-card-frame-31.svg" />
            <img src="~/images\d-card-icon3.svg" class="postion-icon" />
        </div>
    </div>
</div>


<div class="row">
    <div class="col-md-7">

        <div class="dashborad-data-box table-responsive">
            <table>
                <thead>
                    <tr>
                        <th>Task ID</th>
                        <th>Task Name</th>
                        <th>Input Time</th>
                        <th>Status</th>

                    </tr>

                </thead>

                <tbody>
                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge un-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge partial-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge un-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge partial-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge un-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>

                    <tr>
                        <td>#01</td>
                        <td>Lorem ipsum dolor</td>
                        <td>5 Hours</td>
                        <td><span class="d-status-badge partial-completed">Complete<i class="fa fa-info-circle" aria-hidden="true"></i></span></td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
    <div class="col-md-5">
        <div class="dashborad-data-box">
            <div class="dashborad-data-box table-responsive">
                <table>
                    <thead>
                        <tr>
                            <th>Project Name</th>
                            <th>Expense For</th>
                            <th>Expense For</th>


                        </tr>

                    </thead>

                    <tbody>
                        <tr>
                            <td>Lorem ipsum</td>
                            <td>Food</td>
                            <td>₹ 10,174</td>

                        </tr>
                        <tr>
                            <td>Lorem ipsum</td>
                            <td>Food</td>
                            <td>₹ 10,174</td>

                        </tr>

                        <tr>
                            <td>Lorem ipsum</td>
                            <td>Food</td>
                            <td>₹ 10,174</td>

                        </tr>


                        <tr>
                            <td>Lorem ipsum</td>
                            <td>Food</td>
                            <td>₹ 10,174</td>

                        </tr>

                        <tr>
                            <td>Lorem ipsum</td>
                            <td>Food</td>
                            <td>₹ 10,174</td>

                        </tr>

                        <tr>
                            <td>Lorem ipsum</td>
                            <td>Food</td>
                            <td>₹ 10,174</td>

                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>



