@model SecureGroup.ViewModel.LoginViewModel
@{
    Layout = null;
}

<!DOCTYPE html>
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <!-- font awesome css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>
<body>

    <div class="welcome-pages">

        <div class="welcome-wrapper">

            <div class="welcome-header">
                <img src="~/images/logo.svg" class="login-logo" alt="">
            </div>

            
            <form asp-action="Login">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="logas">
                    <h2>Login as Admin</h2>
                <select asp-for="RoleId" id="ddlRoleId"
                        class="form-control"
                        asp-items="@(new SelectList(Model.RoleList,"Value", "Text"))">
                </select>
                <span asp-validation-for="RoleId" class="text-danger"></span>
                </div>
                <div class="mb-3 custom-form-control">                  
                    
                    <input asp-for="Username" class="form-control" placeholder="Phone No or Email Address" />
                    <span asp-validation-for="Username" class="text-danger"></span>

                </div>
                <div class="mb-3 custom-form-control" id="show_hide_password">
                    <input asp-for="Password" class="form-control" placeholder="Password" type="password" />
                    <span asp-validation-for="Username" class="text-danger"></span>                   
                    <a href="javascript:void(0)" class="toggle-pass"><i class="fa fa-eye-slash" aria-hidden="true"></i></a>
                </div>

                <a href="" class="f-pass-btn">Forgot Password?</a>
                <img src="~/images/robot.png" class="rbt-png">
                
               @* <a asp-controller="Home" asp-action="Dashboard" class="login-process-btn" style="display:flex; align-items:center; justify-content:center; text-decoration:none; margin:50px auto 0 auto;">
                    Submit                   
                </a>*@
                <input type="submit" value="Submit" class="login-process-btn" />
            </form>

        </div>

    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

           <script>
        $("#slide-toggle-btn").click(function () {
            alert("hi i am working");
            $("#side-bar-slide-toggle").toggleClass("slide-sidebar-new");
        });
    </script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script>

        $(document).ready(function () {

            $("#show_hide_password a").on('click', function (event) {

                event.preventDefault();

                if ($('#show_hide_password input').attr("type") == "text") {

                    $('#show_hide_password input').attr('type', 'password');

                    $('#show_hide_password i').addClass("fa-eye-slash");

                    $('#show_hide_password i').removeClass("fa-eye");

                } else if ($('#show_hide_password input').attr("type") == "password") {

                    $('#show_hide_password input').attr('type', 'text');

                    $('#show_hide_password i').removeClass("fa-eye-slash");

                    $('#show_hide_password i').addClass("fa-eye");

                }

            });

        });



    </script>

 
</body>
</html>
